* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    /* display: flex; */
    justify-content: space-between;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.523);
}

.header-navigation {
    padding: 0px 10px;
}

header .header-navigation .logo {
    padding: 20px 25px;
    margin: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}

header .header-navigation .navigation {
    align-content: center;
    text-align: center;
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}

header .header-navigation .navigation a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px 15px;
    transition: all 0.5s;
}

header .header-navigation .navigation a:hover {
    color: #c9f31d;
}

header .header-navigation .more-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .header-navigation .more-nav .lets-talk-btn {
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 18px;
    background-color: #c9f31d;
}

header .header-navigation .more-nav .menu-btn {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.header-section
{
    border: 2px solid red;
    padding: 15px;
    background-image: url("../img/header-background.png");
    background-attachment: fixed;
}
.header-section .side-content
{
    border: 1px solid red;
    text-transform: uppercase;
}
.header-section .side-content p {
    
    transform: translateY(-50%);
}
.header-section .bn-top
{
    border-bottom: 2px solid #ffffff;

}
.header-section .bn-top a span
{
    padding: 15px 0px;
    font-size: 24px;
    color: #ffffff;
    line-height: 35px;
}