* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    /* display: flex; */
    justify-content: space-between;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.523);
}

.header-navigation {
    padding: 0px 10px;
}

header .header-navigation .logo {
    padding: 20px 25px;
    margin: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}

header .header-navigation .navigation {
    align-content: center;
    text-align: center;
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}

header .header-navigation .navigation a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px 15px;
    transition: all 0.5s;
}

header .header-navigation .navigation a:hover {
    color: #c9f31d;
}

header .header-navigation .more-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .header-navigation .more-nav .lets-talk-btn {
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 18px;
    background-color: #c9f31d;
}

header .header-navigation .more-nav .menu-btn {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.header-section
{
    padding: 15px;
    background-image: url("../img/header-background.png");
    background-attachment: fixed;
}
.header-contain
{
    display: flex;
    justify-content: center;
}
.header-section .bn-top
{
    border-bottom: 2px solid #ffffff;
    width: fit-content;
    transition: all 0.3s;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.header-section div a .bn-top span
{
    padding: 15px 0px;
    font-size: 24px;
    color: #ffffff;
    transition: all 0.3s;
    line-height: 35px;
}
.header-section div a:hover .bn-top span , .header-section .bn-top:hover
{
    color: #c9f31d;
    border-color: #c9f31d;
}
.header-section .creative-designs
{
    font-size: 65px;
    line-height: 120px;
    font-weight: 600;
    margin-bottom: 50px;    
}
.header-section .banner-bottom
{
    align-content: center;
}
.header-section .banner-bottom div
{
    padding: 15px;
    align-content: center;
}
.header-section .banner-bottom .circle-outline
{
    border-radius: 500px;
    border: 2px solid #ffffff;
    padding: 30px;
}
.header-section .banner-bottom .play-btn .circle-outline .fa-play
{
    color: white;
}
.header-section .banner-bottom .banner-text
{
    font-size: 20px;
    line-height: 35px;
}
.header-section .left-banner-contain
{
    padding-top: 160px;
}